.main-header {
  background-color: #000000;
  color: #ffffff;
  text-align: left;
  height: 23rem;
  padding: 50px;
  margin-top: -40px;
  padding-left: 180px;
  margin-left: -20px;
 padding-right: 20px;
 width:175.6vh;
}

/* common.css */

.course-content {
  text-align: left;
  max-width: 600px;
  margin: 0 auto;
  padding: 2px;
  margin-left: 0px;
  background-color: #000000;
  box-shadow: 0 2px 4px rgba(255, 255, 255, 0.1);
}

.course-content h2 {
  margin-top: 0;
}

.course-content h3 {
  margin-bottom: 10px;
}

.course-content p {
  margin: 1px 2px; /* Adjust the margin as needed */
}

.horizontal-links {
  display: flex;
  justify-content: left;
}

.horizontal-links a {
  font-size: 12px;
  margin-right: 4px;
  margin-left: 4px;
  text-decoration: none;
  color: #cec0fc;
}











.overview {
    border: 1px solid black;
    background-color: white;
    color: black;
    padding: 20px;
    text-align: left;
    height: 11rem;
    width: 43.6rem;
    margin-top: -13rem;
    margin-left : 9.8rem;
  }

  .over-li {
      display: flex;
      justify-content: center;
      text-align: left;
      padding: 5px;
  }
  .over-li li{
       padding: 5px;
       font-size: 13px;
       text-decoration: none;
  }
  .overview h3{
         font-size: 12px;
         font-weight: bold;
  }

  .include {

    border: 1px solid rgb(255, 255, 255);
    background-color: white;
    color: black;
    padding: 20px;
    text-align: left;
    height: 11rem;
    width: 43.6rem;
    margin-top: 2rem;
    margin-left : 9.8rem;
  }
  .include h1{
      font-size:12px;
      font-weight: bold;
  }
  .inc-ul{
    margin-left: -30px;
    display: flex;
    justify-content: left;
  }
  .inc-ul ul {
      list-style: none;
      margin-right: 100px;
  }
  .inc-ul i {
    margin-right: 20px; 
}

.companies{
  border: 1px solid black;
  background-color: white;
  color: black;
  padding: 20px;
  text-align: left;
  height: 11rem;
  width: 43.6rem;
  margin-top: 2rem;
  margin-left : 9.8rem;
}
.companies h2{
  font-size:12px;
  font-weight: bold;
}
.comp-icon img{
      margin-right: 30px;
}
  